/Backend/.vs
/Backend/API/obj
/Backend/DataAccessLayer/obj
/Backend/ServiceLayer/obj
Backend/API/appsettings.json
Backend/API/appsettings.Development.json
/Backend/API/bin
/Backend/DataAccessLayer/bin
/Backend/ServiceLayer/bin
